<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alana's Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Tech Blog</a>
        </h1>
        <nav>
          <nav>
            {{#if loggedIn}}
              <a href="/dashboard">Home</a>
              <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
              <a href="/login">Login</a>
            {{/if}}
          </nav>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Copyright ©2022 by Alana McKeel
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>